body {
  text-align: center;
}

.toys {
  width: 600px;
  float: left;
}

li {
  list-style: none;
}

img {
  margin: 20px 0px 20px 0px;
}

.favorites {
  padding: 30px 0px 30px 0px;
}

.title {
  font-size: 40px;
  text-shadow: 2px 2px blue;
}

.dark-background {
    background-color: #636363;
    color: #DBDBDB;
}

.highlight {
  background-color: yellow;
  border: 2px solid black;
  color: black;
}
