h1, h2, h3, h4, ol, ul {
  text-align: center;
  list-style-position: inside;
}

h1 {
  color: orange;
}

h2 {
  font-weight: bold;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}